body {
    background: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

#currentColor {
    color: white;
    font-size: 3rem;
}

#title {
    margin: 0 auto;
    font-size: 2rem;
}

.navbar {
    margin: 0 auto;
    text-align: center;
    background: white;
    height: 30px;
    padding: auto;
}

.selected {
    color: white;
    background: rgb(9, 136, 175);
}

#correct {
    color: black;
    font-weight: 700;
    display: inline-block;
    width: 20%;
}

#winMsg {
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    height: 10px;
    padding: 0;
    color: white;
    font-weight: 700;
    width: 20%;
}

.header {
    margin: 0 auto;
    text-align: center;
    background: rgb(9, 136, 175);
    font-weight: normal;
    padding: 20px 0;
    text-transform: uppercase; 
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

.square {
    width: 30%;
    margin: 1.66%;
    padding-bottom: 30%;
    float: left;
    background: purple;
    border-radius: 25px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

.square:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}

.impossible {
    width: 16.68%;
    margin: 1.66%;
    padding-bottom: 16.68%;
    float: left;
    background: purple;
    border-radius: 25px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

.impossible:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}

.hard {
    width: 21.68%;
    margin: 1.66%;
    padding-bottom: 21.68%;
    float: left;
    background: purple;
    border-radius: 25px;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

.hard:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

h1 {
    color: white;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: rgb(9, 136, 175);
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white;
    background: rgb(9, 136, 175);
}

#turnsText {
    align-content: left;
    text-transform: uppercase;
    color: rgb(9, 136, 175);
    font-weight: 700;
    font-size: inherit;
    margin-right: 33%;
}

#turns {
    color: black;
}